@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #121212;
}

.navbar .logo h1 {
    color: #fff;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.barra-superior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.barra-superior h2{
    text-align: center;
    align-items: center;
    font-size: 2rem;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 90px;
    padding: 20px;
    border-radius: 3%;
    background-color: #ffffff;
    color: #121212;
}

h3{
    background-color: #121212;
    color: #ffffff;
    font-size: 2rem;
    padding-left: 7%;
    margin: 0 -1%;
    border-radius: 5%;
    width: 50%;
}

.grid-container ul{
    margin: 3%;
}

.peso-mensaje{
    width: 80%;
}

.volver {
    padding: 10px;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.volver {
    background-color: #D32F2F;
    color: #fff;
}

.volver:hover {
    background-color: #b71c1c;
}