@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: #0D0E16;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
header {
    width: 100%;
    background-color: #2D2D2D;
    padding: 14px;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    font-weight: lighter;

}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -100px;

}

.menu-dashboard {
    width: 250px;
    height: calc(100vh - 60px);
    background: #0D0E16;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 2px solid #ffffff;
    position: fixed;
    top: 60px;
    left: 0;
}


.top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

}

.icono i {
    font-size: 80px;
    color: #fff;
}

.admin-name {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

.admin-email {
    font-size: 14px;
    color: #b0b0b0;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    margin-top: 0px;
}

.enlace {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.enlace:hover {
    background-color: #2a2b38;
}

.enlace i {
    margin-right: 10px;
    font-size: 20px;
}

.logout-button {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.logout-button i {
    margin-right: 10px;
    font-size: 20px;
}

.logout-button:hover {
    background-color: #2a2b38;
}

main {
    display: flex;
    flex-grow: 1;
    margin-top: 59px;
}

.content {
    margin-left: 270px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #0D0E16;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.exercise-table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #000;
}

.exercise-table table {
    width: 100%;
    border-collapse: collapse;
}

.exercise-table table thead th {
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.exercise-table table tbody td {
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}

.centrar{
    padding-left: 50px;
}

.btn {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.editar {
    background-color: #000;
    color: #fff;
}

.btn.eliminar {
    background-color: red;
    color: #fff;
}

.btn.eliminar:hover, .btn.editar:hover {
    background-color: #2a2b38;
}

.btn.añadir {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn.añadir:hover {
    background-color: #2a2b38;
}

.activo {
    background-color: #2a2b38;
}

button i{
    margin-right: 8px;
}
