@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

:root {
  --base-clr: #0f1017;
  --hover-clr: #585858;
  --text-clr: #fff;
  --secondary-text-clr: #000;
  --secondary-base-clr: #2d2d2d;
  --line-clr: white;
  --accent-clr: #585858;
  --secondary-accent-clr: #ad283d;
  --btn-bg-clr: #ad283d;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar"
    "main";
}

#navbar {
  background-color: var(--secondary-base-clr);
  box-sizing: border-box;
  padding: 5px 1em;
  height: 100px;
  align-self: stretch;
  justify-content: space-between;
  position: sticky;
  top: 0;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

.nav-center {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding: 10px;
}
#navbar .nav-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}

#navbar .log-out {
  align-items: center;
}

#navbar a,
#navbar .dropdown-btn,
#navbar {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#navbar a span,
#navbar .dropdown-btn {
  flex-grow: 1;
}

#navbar a:hover,
#navbar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

.logout-btn {
  border-radius: 20px;
  background: #950009;
  width: 150px;
  border: none;
  color: #fff;
  height: 52px;
  flex-shrink: 0;
}

/*Main*/

main {
  padding: min(30px, 7%);
}

main,
h1 {
  color: var(--text-clr);
  align-items: center;
}

.routine {
  border: 1px solid var(--line-clr);
  background-color: #fff;
  color: var(--secondary-text-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);
}

h1 {
  display: flex;
  align-items: center;
  margin: 30px;
  justify-content: center;
  padding: 0 20px;
  flex-grow: 1;
  text-align: center;
}

.add-routine {
  display: flex;
  width: 180px;
  height: 50px;
  padding: 3px 21px;
  justify-content: center;
  background: #ad283d;
  border: none;
  color: #fff;
  font-weight: 400;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  flex-shrink: 0;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  border-radius: 1em;
  padding: min(3em, 15%);
}

.see-more {
  justify-content: flex-end;
  border-radius: 10px;
  background: #0d0e16;
  color: #fff;
  width: 105px;
  height: 40px;
  border: none;
  padding: 5px 21px;
  margin: 5px;
  flex-shrink: 0;
}

/* Busqueda y Agregar Rutinas (Usuario)*/

.busqueda-container {
  max-width: 1200px;
  border: 1px solid var(--line-clr);
  background-color: #fff;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);
}

.form-container {
  display: flex;
  max-width: 900px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.form-container label,
select {
  flex: 1;
}

.nombre-rutina {
  color: #000;
  justify-content: flex-start;
}

.resultados {
  justify-content: center;
  margin: 20px;
  max-width: 1000px;
  padding: min(3em, 15%);
}

.resultado-rutina {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #cbcbcb;
  background: #fff;
  width: 958px;
  height: 98px;
  align-items: center;
  flex-shrink: 0;
  margin: 20px;
  display: flex;

  justify-content: space-between;
}

.guardar {
  display: flex;
  width: 105px;
  height: 40px;
  padding: 5px 21px;
  justify-content: center;
  align-items: center;
  background: #ad283d;
  border: none;
  color: #fff;
  font-weight: 400;
  gap: 10px;
  border-radius: 10px;
  flex-shrink: 0;
}
.consultar-btn {
  display: flex;
  width: 105px;
  height: 40px;
  padding: 5px 21px;
  justify-content: center;
  align-items: center;
  background: #ad283d;
  border: none;
  color: #fff;
  font-weight: 400;
  gap: 10px;
  border-radius: 10px;
  flex-shrink: 0;
}
