@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #121212;
}

.navbar .logo h1 {
    color: #fff;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.coach-virtual {
    text-align: center;
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    max-width: 900px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
}

.coach-virtual h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.coach-virtual p {
    margin-bottom: 30px;
    font-size: 1.2em;
}

/* Estilos para las opciones (peso, sexo, altura) */
.options {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.option {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.option img {
    width: 100%;
    margin-bottom: 10px;
}

.option label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.option input[type="number"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    margin-top: 10px;
    background-color: #3c3c3c;
    color: white;
}

/* Estilo para las opciones de sexo */
.sexo-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.sexo-options input[type="radio"] {
    margin-right: 5px;
}

.sexo-options label {
    font-size: 1em;
}

/* Botón de continuar */
.btn-continuar,
.volver {
    background-color: #d22;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.volver {
    width: 20%;
    height: 50%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.btn-continuar:hover,
.volver:hover {
    background-color: #c00;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mensaje-inicial {
    text-align: center;

    h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }
}