@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #1e1f29;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  background-color: #2d2d2d;
  padding: 14px;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
}

main {
  display: flex;
  flex-grow: 1;
  margin-top: 60px;
}

.logo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.navbar {
  width: 250px;
  height: calc(100vh - 60px);
  background: #0d0e16;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px solid #ffffff;
  position: fixed;
  top: 60px;
  left: 0;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.icono i {
  font-size: 80px;
  color: #fff;
}

.admin-name {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}

.admin-email {
  font-size: 14px;
  color: #b0b0b0;
}

.menu-options {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  margin-top: 0px;
}

a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #2a2b38;
}

a i {
  margin-right: 10px;
  font-size: 20px;
}

.logout-btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.logout-btn i {
  margin-right: 10px;
  font-size: 20px;
}

.logout-btn:hover {
  background-color: #2a2b38;
}

.container {
  margin-left: 200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #0d0e16;
}

ul {
  list-style: none;
  align-items: center;
}

li {
  align-items: center;
  justify-content: center;
}

.routine-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-rutina-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
}

.add-routine-btn {
  display: flex;
  width: 180px;
  height: 40px;
  padding: 20px 21px;
  margin: 20px;
  justify-content: center;
  background: #ad283d;
  border: none;
  color: #fff;
  font-weight: 400;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  flex-shrink: 0;
}

.edit-btn,
.delete-btn {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 140px;
}

table {
  background-color: #fff;
  color: #000;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

th,
td {
  padding: 10px;
  margin: auto 20px;
  text-align: center;
}

.delete-btn {
  background-color: none;
  border: none;
}

.save-btn {
  background-color: #d32f2f;
  color: #fff;
}

.save-btn:hover {
  background-color: #b71c1c;
}

.cancel-btn {
  background-color: #e0e0e0;
  color: #000;
}

.cancel-btn:hover {
  background-color: #bdbdbd;
}
