@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

:root {
  --base-clr: #0f1017;
  --hover-clr: #585858;
  --text-clr: #fff;
  --secondary-text-clr: #000;
  --secondary-base-clr: #2d2d2d;
  --line-clr: white;
  --accent-clr: #585858;
  --secondary-accent-clr: #ad283d;
  --btn-bg-clr: #ad283d;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar"
    "main";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #121212;
}

.navbar .logo h1 {
  color: #fff;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}

.navbar .nav-links li {
  position: relative;
}

.navbar .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*CSS para ver la rutina*/

.info-rutina {
  display: flex;
  align-items: center;
  justify-content: center;
}

.volver-btn {
  display: flex;
  width: 105px;
  height: 40px;
  padding: 5px 21px;
  justify-content: center;
  align-items: center;
  background: #ad283d;
  border: none;
  color: #fff;
  font-weight: 400;
  gap: 10px;
  border-radius: 10px;
  flex-shrink: 0;
}

.info-rutina table {
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  height: 20%;
}

.info-rutina th {
  background-color: #ad283d;
  color: white;
  padding: 10px;
  text-align: left;
  border: none;
}

.info-rutina td {
  padding: 10px;
  background-color: white;
  border: none;
  color: #000;
  text-align: left;
}
