@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: #0D0E16;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    background-color: #2D2D2D;
    padding: 14px;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    display: flex;
    flex-grow: 1;
    margin-top: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    font-weight: lighter;

}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -100px;

}

.menu-dashboard {
    width: 250px;
    height: calc(100vh - 60px);
    background: #0D0E16;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 2px solid #ffffff;
    position: fixed;
    top: 60px;
    left: 0;
}


.top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

}

.icono i {
    font-size: 80px;
    color: #fff;
}

.admin-name {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

.admin-email {
    font-size: 14px;
    color: #b0b0b0;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    margin-top: 0px;
}

.enlace {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.enlace:hover {
    background-color: #2a2b38;
}

.enlace i {
    margin-right: 10px;
    font-size: 20px;
}



.container {
    margin-left: 270px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #0D0E16;
    margin-top: 50px;

}
.container h2 {
  font-size: 40px;
  margin-top: -200px ;

}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
}

.user-table th, .user-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.user-table th {
    background-color: #f3f3f3;
    color: #fff;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}

.user-table td i {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
}

.edit-icon {
    color: #000000;
}

.delete-icon {
    color: #C73434;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-table tr:hover {
    background-color: #ddd;
}
